<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">
        <i class="fa fa-book fa-2x"></i>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: rgb(6, 202, 216);">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" style="color: rgb(6, 202, 216); margin-left: 980px;"><i class="fa fa-user"></i>login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  </nav>
   <h1> welcome</h1>
</body>
